<div class="section" id="about-section">
	<div class="container">
    <div class="about-me">
    	<h2 class="title">
    		Nick<br>
    		Italiano
    	</h2>
    	<p class="body">
    		I am a Software Engineer, who loves to code.<br>
				There is nothing better, than creating elegant<br>
				solutions to complex problems.
				<br><br>
				If you would like to see some of my code please<br>
				head over to my Github.
    	</p>
    	<a type="button" target="_blank" href="https://github.com/unboundfire" class="btn btn-default btn-lg">
    		View my Github
    	</a>
    </div>
    
    <img class="img-responsive" src="/img/nick.png">
  </div>
</div>