<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}&nbsp;Nick Italiano</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

        <link rel="stylesheet" href="{{cssPath}}">
        <script src="{{modernizrPath}}"></script>
    </head>
    <body>
      <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      
 			<header class="affix-top">
 				{{> _nav}}
 			</header>

 			<main>
        {{> _loader}}
        {{> _home}}
        {{> _about}}
        {{> _experience}}
        {{> _skills}}
 			</main>

      <script src="{{requirejs.path}}" data-main="{{requirejs.main}}"></script>
    </body>
</html>